<div class="pdf-container">
  <h1 class="pdf-header text-center">UN BEAU TITRE</h1>
  <br>
  <h3 class="text-center">POUR UN CONTRAT ENTRE:</h3>
  <p>
    <span class="font-bold">Lorem ipsum</span>
  </p>
  <p class="text-right">
    <span class="font-bold">Jean BON</span>
  </p>

  <br>
  <h3 class="text-center">ET</h3>

  <p>
    <span class="font-bold">Lorem ipsum</span>
  </p>
  <p class="text-right">
    <span class="font-bold">PERSONNE</span>
  </p>

  <br>
  <h3 class="underline mt-4">INTRODUCTION</h3>

  <p>Lorem ipsum</p>
  <p>Lorem ipsum</p>
  <p>Lorem ipsum</p>

  <br>
  <h3 class="underline mt-4">2.  DÉFINITIONS</h3>

  <p>Lorem ipsum</p>
  <p>Lorem ipsum</p>
  <p>Lorem ipsum</p>

  <br>

  <div class="pdf-grid">
    <div class="pdf-column">
      <h3 class="medium-text font-bold text-center">
        Le signataire
      </h3>

      <p class="medium-text font-bold text-center">PRÉNOM NOM:</p>

    </div>
  </div>

  <div class="medium-text" style="color: white !important;">[date|req|signer1]</div>
  <br>
  <div class="medium-text" style="color: white !important;">[sig|req|signer1           ]</div>
</div>
