<div class="bg-white py-12 m-4">
  <div class="mx-auto max-w-7xl px-6 lg:px-12">
    <div class="mx-auto max-w-3xl text-base leading-7 text-gray-700">

      <h1 class="text-center">UN BEAU TITRE</h1>
      <h3 class="text-center">POUR UN CONTRAT ENTRE:</h3>
      <p>
        <span class="font-bold">Lorem ipsum</span>
      </p>
      <p class="text-right">
        <span class="font-bold">Jean BON</span>
      </p>

      <h3 class="text-center">ET</h3>

      <p>
        <span class="font-bold">Lorem ipsum</span>
      </p>
      <p class="text-right">
        <span class="font-bold">PERSONNE</span>
      </p>

      <h3 class="underline mt-4">INTRODUCTION</h3>

      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>

      <h3 class="underline mt-4">2.  DÉFINITIONS</h3>

      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>
      <p>Lorem ipsum</p>

      <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 mt-8">
        <div class="relative flex flex-col space-x-3 rounded-lg border border-gray-300 bg-white px-2 py-4 pb-8 shadow-sm">
          <div class="text-center text-xl font-bold my-4">
            Le signataire
          </div>

          <div class="text-sm font-medium text-gray-900 underline">PRÉNOM NOM:</div>
        </div>
      </div>

    </div>
  </div>
</div>
