<div class="flex mb-4">
  <%= button_to "Signer le contrat", contract_path, class: "btn" %>
  <%= link_to "Télécharger le contrat", contract_path(format: :pdf), class: "btn" %>
</div>

<% if (current_user.contract&.document&.attached? && current_user.contract&.document&.representable?) %>
  <%= image_tag(current_user.contract.document.preview(resize_to_limit: [800, 600])) %>
<% else %>
  <%= render "contract" %>
<% end %>
