<div class="flex mb-4">
  <%= button_to "Signer le contrat", contract_path, class: "btn" %>
  <%= link_to "Télécharger le contrat", contract_path(format: :pdf), class: "btn" %>
</div>

<%= render "contract" %>
