<div>
  <h1 class="font-bold text-4xl">MyComponents#index</h1>

  <%= render DefinitionListComponent.new do |component| %>
    <% component.with_entry(term: "Un terme", description: "Une description") %>
    <% component.with_entry(term: "Un terme") do %>
      <p>Un contenu additionnel</p>
    <% end %>
    <% component.with_entry(term: "Un terme", description: "avec un lien") do |entry| %>
      <% entry.with_link do %>
        <%= link_to "Go somewhere", "#", class: "text-blue-500 hover:underline"%>
      <% end %>
    <% end %>
  <% end %>

</div>
