@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .btn {
    @apply ml-3 inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm;
    @apply text-sm font-medium focus:outline-none focus:ring-2 focus:ring-offset-2;
    @apply border border-gray-300 text-gray-700 bg-white hover:bg-gray-50 focus:ring-primary-500;
    @apply cursor-pointer;
  }

  .btn-primary {
    @apply bg-primary-600 hover:bg-primary-700 text-white border-primary-600;
  }
}

body {
  font-family: 'lato', sans-serif;
}

* {
  -webkit-print-color-adjust:exact !important;
  print-color-adjust:exact !important;
}

.container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
h1 {
  color:#c00;
  font-family:sans-serif;
  font-size:2em;
  margin-bottom:0;
}
.zigzag {
  font-family: sans-serif;
}

.zigzag th,
.zigzag td {
  padding: .25em .5em;
  text-align: left;
}

.zigzag th:nth-child(2),
.zigzag td:nth-child(2) {
  text-align: right;
}

.zigzag td {
  background-color: #eee;
}

.zigzag th {
  background-color: #009;
  color: #fff;
}

.zigzag {
  border-collapse: separate;
  border-spacing: .25em 1em;
}

.zigzag tbody tr:nth-child(odd) {
  transform: rotate(2deg);
}

.zigzag thead tr,
.zigzag tbody tr:nth-child(even) {
  transform: rotate(-2deg);
}
