<h1>Hello stimulus below</h1>
<p data-controller="hello"></p>
<h1 class="title">Using IntelliSense</h1>

<div data-controller="background">
  <h1 class="text-blue-500">
    Color not in the pipeline
  </h1>
  <button data-action="click->background#changeBackgroundColor" class="btn btn-primary">Change Background</button>
</div>

<ul class="list-image-[url(carrot.png)]">
  <li>5 champignons</li>
  <li>1 gousse d'ail</li>
  <li>6 carottes</li>
</ul>

<p class="line-clamp-3 mt-4 text-sm">
  Lorem ipsum dictumst quisque sollicitudin sit gravida, torquent odio scelerisque praesent leo, lectus elit auctor tortor commodo turpis, tempor metus sapien enim. Class et nisl tortor proin ligula arcu posuere euismod sollicitudin egestas dictum rhoncus, posuere commodo curabitur donec diam auctor ornare aliquam pretium morbi aenean, libero hendrerit urna cubilia quam interdum tempor ut hac consequat iaculis. Ut felis rhoncus ullamcorper tellus iaculis metus sodales, sed rhoncus urna quis sociosqu semper nibh, justo varius turpis sit diam consectetur.
</p>
