<h1>Hello stimulus below</h1>
<p data-controller="hello"></p>
<h1 class="title">Using IntelliSense</h1>

<div data-controller="background">
  <h1 class="text-blue-500">
    Color not in the pipeline
  </h1>
  <button data-action="click->background#changeBackgroundColor" class="btn btn-primary">Change Background</button>
</div>
